/* ABOUT US IMAGE */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 10px;
  width: 300px;
    
}

img.img-thumbnail {
  border-radius: 50%;
}
  
  /* ABOUT US TEXT */
p {
  font-family: 'Josefin Sans', cursive;
  font-size: 25px;
  text-align: center;
}