/* ABOUT US IMAGE */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 10px;
  width: 300px;
  border: 10px solid #EEE5E5;
	outline: 5px dashed #EEE5E5;
    
}

img.img-thumbnail {
  border-radius: 50%;
  background: linear-gradient(#011B10, #E4DEAE);
}
  
  /* ABOUT US TEXT */
p {
  font-family: 'Josefin Sans', cursive;
  font-size: 25px;
  text-align: center;
}