html, body, .App { 
  margin: 0;
  padding: 0; 
  background-color: #061A23;
  /* background-image: linear-gradient(315deg, #deebdd 0%, #bbdbbe 74%); */
   height: auto;
   z-index: 1;
   /* padding-top: 100px; */
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
} /*RESETS CSS*/


/* Portfolio.JS */
.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, 5vw);
  grid-gap: 15px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
