html, body { 
  margin: 0;
  padding: 0; 
  background-image: linear-gradient(to bottom, rgb(255,255,255, 0.52), rgba(233, 233, 233, 0.712)),
  url(https://wallpapermemory.com/uploads/480/penguin-background-full-hd-1080p-149318.jpg);
   background-color: #353839;
   height: auto;
   z-index: 1;
   /* padding-top: 100px; */
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
} /*RESETS CSS*/

.navbar-brand {
  font-family: Montserrat, sans-serif;
}
/* SOCIAL MEDIA BUTTONS */
.fa {
  padding: 20px;
  font-size: 40px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}