nav.navbar.navbar-default {
  margin-bottom: 0;
}

.navbar {
  background-color: #159947;
  margin: 0px 0px 40px 0px;
}

.title {
  font-family: 'Josefin Sans', sans-serif;
  color: #061A23;
  font-size: 50px;
  margin: 0px 0px 0px 20px;
  padding: 0px 0px 0px 10px;
  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.title:hover{
  color: #ecf0f1;
  text-decoration: none;
}

.nav-item {
  display: inline;
}
.nav-link {
  color: #061A23;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.nav-link:hover {
  color: #ecf0f1;
}