footer {
  min-height: 100px;
  background: #159947;
  position: relative;
  color: #061A23;
  padding: 3px;
  text-align: center;
  margin: 15px 0px 0px 0px;
}

/* Footer Text */
.box {
  color: #061A23;
}

/* SOCIAL MEDIA BUTTONS */
.fa {
  padding: 20px;
  font-size: 40px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 2px 5px;
  border-radius: 50%;
  color: #061A23;
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
}

.fa:hover {
    opacity: 0.7;
    color: white;
    text-decoration: none;
   
}